@model iRemocon_Manager_01.Models.RemoconCreateModel

@{
    ViewBag.Title = "ChangeRemoconInfo";
}


<br />
<h2>iRemoconの新規登録</h2>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    <fieldset>
        <legend></legend>
        <ol>

            <li>
                @Html.LabelFor(m => m.IPAddress)
                @Html.TextBoxFor(m => m.IPAddress)
            </li>

            <li>
                @Html.LabelFor(m => m.Detail)
                @Html.TextAreaFor(m => m.Detail)
            </li>
        </ol>
        <input type="submit" value="登録" />
    </fieldset>
}